body {
    overflow-x: hidden;
    background-color: #e9e9e9;
}

.col-12 h1 {
    margin-bottom: 10px;
}

#title {
    margin-top: 8%;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 3.5em;
    font-family: fantasy;
}

#logo {
    z-index: 999;
}

.slogan {
    font-style: italic;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding: 40px 0px;
}

p {
    font-size: 1.3em;
}

#form {
    margin: 100px 100px 20px 100px;
}

#articleBackground {
    background-color: #3594FE;
    height: 400px;
    position: relative;
}

.container {
    margin-top: -390px;
}

.container img{
    padding: 10px;
}

body{
    padding-bottom: 50px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #form {
        margin: 0;
    }
    #title {
        margin-top: 2%;
    }
    .container {
        margin-top: -395px;
    }
}